html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(65, 62, 62);
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 900px;
}

#equals {
    background-color: #4285f4;
    color: white;
    font-weight: 700;
}

#input {
    background-color: white;
    flex: 1 1 0%;
    align-self: center;
    padding: 40px 0 0 0;

}

#calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(102, 98, 98, 0.945);
    border-radius: 20px;
    padding: 30px 20px;
    width: 500px;
    height: 600px;
    background-color: rgb(238, 228, 228);
}

.row {
    display: flex;
    flex: 1;
    margin: 10px;
}


button {
   flex: 1 1 0%;
   margin: 0 8px;
   border-radius: 10px;
   font-size: 24px;
   background-color: #dadce0;
   border: none;
}

button:hover {
    background-color: #f5f8fd; 
}

